.display#main{
    font-size: 40px;
    font-family: monospace;
    border: yellow 2px solid;
    max-width: 300px; /*FIXME:*/
    margin: 0 0 20px 0;
    padding: 5px 10px;
    /* overflow: hidden; */
    overflow:auto
}

.calc-content{
    background-color: black;
    max-width: 300px; /*FIXME:*/
    padding: 40px 25px;
    border-radius: 10%;
}
.container.buttons{
    display: flex;
}
.row{
    display:flex;
    /* background-color: yellow; */
    gap: 3px;
}

.row.a {
    display: flex;
    justify-content: space-between;
}
.row.e{
    padding-left: 56px;
}

.column {
    display: flex;
    flex-direction: column;
}

button{
    margin: 4px;
    font-size: 25px;
    width: 45px;
    min-width: 45px;
    height: 45px;
    border: 3px solid salmon;
    border-radius: 50%;
    padding: 2px;
    background-color:rgb(52, 45, 45);
}
.column button.operator{
    background-color: red;
}

button#ac{
    width: 100px;
    border-radius: 100px;
}




