html{
    background-color: rgb(52, 31, 31);
}
.display#main{
    font-size: 40px;
    font-family: monospace;
    color:white;
    border: rgb(255, 31, 31) 4px solid;
    max-width: 300px; /*FIXME:*/
    margin: 0 0 20px 0;
    padding: 5px 10px;
    /* overflow: hidden; */
    overflow:auto;
    border-radius: 5px;
    background-color: rgb(75, 50, 50);
}

.calc-content{
    color:white;
    background-color: rgb(15, 15, 15);
    max-width: 300px; /*FIXME:*/
    padding: 40px 25px;
    border-radius: 20px;
}

.calc-case{
    background-color: black;
    max-width: 300px; /*FIXME:*/
    padding: 15px 20px;
    border-radius: 30px;
    z-index: 0;
}


.container.buttons{
    display: flex;
}
.row{
    display:flex;
    /* background-color: yellow; */
    gap: 3px;
}

.row.a {
    display: flex;
    justify-content: space-between;
}
.row.e{
    padding-left: 56px;
}

.column {
    display: flex;
    flex-direction: column;
    margin:0 0 0 5px
}

button{
    color:white;
    margin: 4px;
    font-size: 25px;
    width: 45px;
    min-width: 45px;
    height: 45px;
    border: 3px solid rgb(134, 71, 64);
    border-radius: 50%;
    padding: 2px;
    background-color:rgb(52, 45, 45);
    transition:all 0.07s
}

button:hover{
    margin: 4px;
    font-size: 25px;
    width: 45px;
    min-width: 45px;
    height: 45px;
    border: 4px solid rgb(253, 37, 13);
    border-radius: 50%;
    padding: 2px;
    background-color:rgb(77, 65, 65);
}

.pressed{
    margin: 4px;
    font-size: 25px;
    width: 45px;
    min-width: 45px;
    height: 45px;
    border: 4px solid rgb(253, 37, 13);
    border-radius: 50%;
    padding: 2px;
    transform:translateY(4px)
}


.column button.operator{
    background-color: rgba(131, 36, 36, 0.614);
    border: 3px solid rgb(113, 27, 17);

}
.column button.operator:hover{
    background-color: rgb(255, 58, 58);
}

button#ac{
    width: 100px;
    border-radius: 100px;
    background-color: rgb(125, 107, 107);
}
button#backspace{
    font-size: 16px;
    background-color:rgb(125, 107, 107);
}
button#decimal{
    font-size: 25px;
    background-color:rgb(125, 107, 107);
}




